@model QLKH.Models.taikhoan

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin tài khoản</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matkhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullcontrol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullcontrol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
