<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Khách hàng", "Index", "Khachhangs")</li>
                    <li>@Html.ActionLink("Hóa đơn", "Index", "Hoadons")</li>
                    <li>@Html.ActionLink("Nhà cung cấp", "Index", "nhaccs")</li>
                    <li>@Html.ActionLink("Hàng hóa", "Index", "hanghoas")</li>
                    <li>@Html.ActionLink("Phiếu nhập", "Index", "phieunhaps")</li>
                    <li>@Html.ActionLink("Phiếu xuất", "Index", "phieuxuats")</li>
                    <li>@Html.ActionLink("Chi tiết nhập", "Index", "chitietnhaps")</li>
                    <li>@Html.ActionLink("Chi tiết xuất", "Index", "chitietxuats")</li>
                    @*<li>@Html.ActionLink("Nhập xuất tồn", "Index", "nhapxuattons")</li>*@
                    @if (Session["Role"] == "SUPER_ADMIN")
                    {
                        <li>@Html.ActionLink("Tài khoản Admin", "Index", "taikhoans")</li>
                    }
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
