@model QLKH.Models.taikhoan
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    @if (ViewBag.Flag == 1)
    {
        <div class="alert alert-danger" role="alert">
            Sai tài khoản hoặc mật khẩu
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="login">
        <h1>Đăng nhập</h1>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            @Html.TextBoxFor(m => m.username, "", new { @placeholder = "Tên đăng nhập" })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            <label for="password" style="position: static;">
                <i class="fas fa-lock"></i>
            </label>
            @Html.TextBoxFor(m => m.matkhau, "", new { @placeholder = "Mật khẩu", @type = "password"})
            @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
            <input type="submit" value="Login" >
        }
    </div>
</body>
</html>

<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        background-color: #435165;
    }

    .login {
        width: 400px;
        background-color: #ffffff;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
        margin: 100px auto;
    }

        .login h1 {
            text-align: center;
            color: #5b6574;
            font-size: 24px;
            padding: 20px 0 20px 0;
            border-bottom: 1px solid #dee0e4;
        }

        .login form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
        }

            .login form label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background-color: #3274d6;
                color: #ffffff;
            }

            .login form input[type="password"], .login form input[type="text"] {
                width: 310px;
                height: 50px;
                border: 1px solid #dee0e4;
                margin-bottom: 20px;
                padding: 0 15px;
            }

            .login form input[type="submit"] {
                width: 100%;
                padding: 15px;
                margin-top: 20px;
                background-color: #3274d6;
                border: 0;
                cursor: pointer;
                font-weight: bold;
                color: #ffffff;
                transition: background-color 0.2s;
            }

                .login form input[type="submit"]:hover {
                    background-color: #2868c7;
                    transition: background-color 0.2s;
                }
</style>
