@model QLKH.Models.hanghoa

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết hàng hóa</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nhacc.tenncc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhacc.tenncc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenhanghoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenhanghoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donvitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donvitinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.mahanghoa }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
