@model IEnumerable<QLKH.Models.Khachhang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Tạo khách hàng mới", "Create")
</p>
<table class="table">
    @*tiêu đề*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenkhachhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </th>
        <th></th>
    </tr>

    @*dữ liệu*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenkhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodienthoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.makhachhang }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.makhachhang }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.makhachhang })
            </td>
        </tr>
    }

</table>
