@model QLKH.Models.chitietnhap

@{
    ViewBag.Title = "Delete";
}

<h3>Bạn có chắc muốn xóa bản ghi này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hanghoa.tenhanghoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hanghoa.tenhanghoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khachhang.tenkhachhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khachhang.tenkhachhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phieunhap.mancc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phieunhap.mancc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayxuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayxuat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
